<%- include ('partials/header') -%>
<div class="container">
	<div>
		<h1>
			Sign up for free today
		</h1>
	</div>
	<br>
	<div>
		<h3>
			Register here
		</h3>
	</div>
	<br>
	<form action="/register" method="POST">
		<div class="form-group">
			<input type="text" class="form-control" name="username" placeholder="username"><br>
			<input type="password" class="form-control" name="password" placeholder="password"><br>
			<button>Submit!</button>		
		</div>
	</form>
</div>

	






<%- include ('partials/footer') -%>