<%- include ('partials/header') -%>



<% var list = user.selectedList %>
<% var values = Object.values(list) %>

<ul>
<% for(const value of values){ %>
	<li>
	<% console.log(value) %>
	<%= value %>
	</li>
<% } %>	
</ul>

<ul id="selected">
<% for(const value of values){ %>
	<li>
	<% console.log(value) %>
	<%= value %>
	</li>
<% } %>	
</ul>


<div class="container">
	<div>
		<h1>Your Progress</h1>
	</div>
	<br>
	<div>
		<table class="table table-bordered table-responsive-sm">
			<thead id="thead">
				<tr>
					<th>Habit</th>
					<th># of Days</th>
				</tr>
			</thead>
			<tbody id="table-body">
			
			
			
			</tbody>
		</table>
	</div>


</div>


<div id="results">
	
</div>









<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="scripts/results.js"></script>






<%- include ('partials/footer') -%>